<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
  </head>
  <body>
    {% if city == 'your Location' %}
      <h1>Temperature at {{ city }}</h1>
    {% else %}
      <h1>Temperature at {{ city }}, {{ country }}</h1>
    {% endif %}
    <h2>{{ temp }} &#8457</h2>
    <br>
    <a href='/meteo'>Home</a> | <a href='/meteo/discover'>Check for different City</a>
  </body>
</html>
